

.card-wrapper, .front-face, .back-face, .contents {
    position: relative !important;
}

.card-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    transform-style: preserve-3d !important;
    perspective: 1000px !important;
    height: 400px !important;
    width: 290px !important;
}

.front-face, .back-face {
    height: 100%;
    width: 100%;
    text-align: center !important;
    background-color: yellow;
    background-size: cover !important;
    background-position: center;
    backface-visibility: hidden !important;
    transform-style: preserve-3d !important;
    transition: transform .7s cubic-bezier(.4, .2, .2, .1) !important;
}

.contents {
    left: 0 !important;
    top: 50px !important;
    width: 100% !important;
    perspective: 100px !important;
    transform: translateY(-50%) translateZ(60px) scale(.94) !important;
}

.front p {
    color: blue;
}

.front p::after {
    content: '' !important;
    display: block !important;
    left: 0 !important;
    right: 0 !important;
    height: 2px !important;
    width: 100px !important;
    background: white !important;
    margin: 0 auto !important;
    margin-top: 10px !important;
}

.back-face {
    transform: rotateY(180deg) !important;
    background-color: black !important;
}


.card-wrapper:hover > .back-face {
    transform: rotateY(0deg) !important;
}

.card-wrapper:hover > .front-face {
    transform: rotateY(-180deg) !important;
}